#xbutton {
  margin-left: 92%;
  margin-top: -1%;
  position: absolute;
}

.iStyle {
  height: 30px;

  min-width: 120px;
  width: 95%;
   
 /* width: 10%; */
}


.iStyle1 {
  height: 30px;

  min-width: 120px;
  width: 95%;
   
 /* width: 10%; */
}
/*
.lStyle {
  
}
*/


.btnC {
  font-size: 20px;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 700px;
  background-color: var(--blue);
}

.btnC:hover {
  background-color: red;
}

.pasta {
  /* background-color: aqua; */
  height: 200px;
  width: 100%;

  position: relative;
  display: flex;
  flex-direction: column;

  /*transform: translate(10%,70%);*/

  border-radius: 5px;
}

.invisivel
{
  display: none;
}

/*------------------------Pesquisa   */

.psqArea {
  display: flex;
  /* outline-style: solid; */
  flex-direction: row;

  justify-content: space-between;
  gap: 10px;


  padding: 10px;
  justify-content: center;
}

#pesquisa {
  /* padding-right: 70px;
margin-right: 10px; */
}

.escolha:hover {
  background-color: red;
}


/* -----------------------Pesquisa-------  */

/* -----------------------Item-------  */

.item-cont {
  outline-color: rgb(255, 0, 0);
  /* outline-style: solid; */
  width: 100%;


  margin-top: 10px;
  display: flex;
  flex-direction: column;

  height: 300px;
  overflow: auto;
  align-self: center;

}

.itemB {

  background-color: darkkhaki;
  height: 35px;
  font-size: 11px;

  border-bottom: 2px;
  border-bottom-style: solid;
  padding-left: 5px;
}

.itemB:hover {

  background-color: rgb(128, 237, 128);

}

/* -----------------------Item-------  */

body {
  background-color: rgb(142, 129, 114);
}

.dropbtn {

  min-width: 40px;
  max-width: 90px;


}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  max-height: 170px;
  height: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown:hover .dropdown-content {
  display: block;
}

.botaox {
  background-color: transparent;
  border-radius: 0%;
  border-style: none;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/*-----------------------Formularios de Registo de Viagem   */

.lstyle
{
  padding-bottom: 5%;
  padding-top: 2%;
}

.lstyle1
{
  padding-bottom: 5%;
  padding-top: 2%;
}


.formCont
{
    
    display: flex;
    flex-direction: column;
   
}

.formRow
{
     display: flex;
     flex-direction: row;
}

/******************Escolha de UI */

.dest_esc:hover {
  background-color: red;
}


.styleGap
{
  gap: 40px;
}